header {
    width: 1800px;
    margin: 0 auto;
}

header:before {
    content: '';
    display: block;
    height: 30px;
    width: 100%;
    background: gray;
    position: absolute;
    left: 0;
    z-index: -1;
}

.menu-main {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 30px;
}

.left-menu {
    float: left;
}

.right-menu {
    float: right;
}

.menu-main a {
    color: aliceblue;
    display: block;
    height: 30px;
    padding: 0px 30px;
    text-decoration: none;
    line-height: 30px
    
}
 
